body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
#btnFuyant {
    position: absolute;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.1s;
}