body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-height: 100vh;
    background: url(/assets/images/1.png) center center;
    background-size: cover;
    flex-direction: column-reverse;
    font-family: 'Georgia', serif;
    color: #ffffff; /* Texte blanc pour contraster avec le fond noir */
    padding: 20px;
}

#btnFuyant {
    margin : -50px;
    position: absolute;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8); /* Fond blanc semi-transparent */
    border: 2px solid #000000; /* Bordure noire pour contraster */
    border-radius: 10px;
    color: #000000; /* Texte noir */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#btnFuyant:hover {
    background-color: rgba(200, 200, 200, 0.9); /* Fond gris clair au survol */
    transform: scale(1.1);
}

h1, h2, h3 {
    font-family: 'Georgia', serif;
    text-shadow: 2px 2px 4px #000000; /* Ombre noire pour contraster avec le fond */
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    margin: 10px 0;
    color: #ffffff; /* Texte blanc */
}

form {
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    align-items: center;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    padding: 20px;
    padding-bottom: 70px;
    background: rgba(0, 0, 0, 0.8);
    border: 2px solid #ffffff; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3);
}

input {
    width: 90%;
    max-width: 400px;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    font-family: 'Georgia', serif;
    color: #000000; /* Texte noir */
    background-color: rgba(255, 255, 255, 0.9); /* Fond blanc */
    border: 2px solid #000000; /* Bordure noire */
    border-radius: 10px;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

input:focus {
    outline: none;
    background-color: rgba(240, 240, 240, 0.9); /* Fond gris clair au focus */
    border-color: #ffffff; /* Bordure blanche au focus */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.popup {
    position: fixed;
    top: 15%;
    border-radius: 10px;
    display: none;
    width: 300px;
    text-align: center;
    z-index: 1000;
}

.popup-content {
    padding: 10px;
}

.popup button {
    background: rgb(129, 37, 37);
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.popup button:hover {
    background: rgb(174, 54, 54);
}

